@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Unbounded:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accordion-number-width: 40px;
  --accordion-number-margin-sm: 1.5rem;
  --accordion-number-margin-md: 2rem;
  --accordion-header-padding-sm: 1.75rem;
  --accordion-header-padding-md: 2rem;
}

html {
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding-top: 60px;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.main-content-wrapper {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-content-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  flex-grow: 1;
  width: 100%;
}